<!--Header pour tout sauf le login / signup-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel="stylesheet" type="text/css" href="/sass/style.css">
</head>
<body>
    <header>
        <div class="header2">
            <div class="logo">
                <h1 id="logo2"><a href="/">Job <span>Tracker</a></span></h1>
            </div>
            <div class="menu">
                <a href="/profil"><img id="miniPic" src="images/profilepic.png" alt="profilepic"></a>
                <ul>
                    <% if (user) { %>
                    <li id="username"><%= user.firstname %></li>
                    <li><a href="/profil">My profile</a></li>
                    <li class="liRight"><a href="/logout">Logout</a></li>
                    <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li class="liRight"><a href="/signup">Signup</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </header>
<hr>