body {
    background-color: #ffefee;
    font-family: "Kanit", sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #E1B3B2;

    #logo{
        text-align: center;
        padding-top: 20px;
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-size: 40px;

        a{
            color: white;
            transition: color 1s ease-in-out;
        }

        span{
            color: black;
            transition: color 1s ease-in-out;
        }
    }

    #logo:hover{
        a{
            color: black;
        }

        span{
            color: white;
        }
    }
}
hr {
    border: 2px solid black;
}

.header2 {
    width: 100%;
    height: 80px;
    background-color: #E1B3B2;
    display: flex;
    justify-content: space-between;

    #logo2{
        margin-left: 100px;
        padding-top: 20px;
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-size: 40px;

        a{
            color: white;
            transition: color 1s ease-in-out;
        }

        span{
            color: black;
            transition: color 1s ease-in-out;
        }
    }

    #miniPic{
        width: 60px;
        position: absolute;
        top: 10px;
        right: 295px;
    }

    #username {
        font-weight: 700;
        margin-right: 100px;
    }

    li {
        display: inline-block;
        margin-right: 20px;
        font-size: 20px;
        margin-top: 30px;

        a {
            color: white;
            transition: color 0.5s ease;
        }

        a:hover {
            color: black;
        }
    }

    .liRight {
        margin-right: 100px;
    }

    #logo2:hover{
        a{
            color: black;
        }

        span{
            color: white;
        }
    }
}
hr {
    border: 2px solid black;
}
