body {
    background-color: #ffefee;
    font-family: "Kanit", sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #E1B3B2;

    h1{
        text-align: center;
        padding-top: 20px;
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-size: 40px;

        a{
            color: white;
            transition: color 1s ease-in-out;
        }

        span{
            color: black;
            transition: color 1s ease-in-out;
        }
    }

    h1:hover{
        a{
            color: black;
        }

        span{
            color: white;
        }
    }
}
hr {
    border: 2px solid black;
}