.containerLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formLogin{
    margin-left: 38%;
    width: 25%;
    font-weight: 500;

    h1{
        margin-top: 100px;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    label {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input{
        width: 100%;
        border-radius: 10px;
        background-color: rgb(245, 246, 247);
        border: 1px #E1B3B2 solid;
        text-align: center;
    }

    #buttonL {
        transform: translateX(120%);
        margin-top: 30px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #e08785;
        border: none;
        cursor: pointer;
        font-weight: 700;
        transition: background-color 1s ease;
    }

    #buttonL:hover{
        background-color: #d65856;
    }
}