/* MEDIA QUERIES */

$ipad: 768px;
$ipadPro: 1024px;
$laptop: 1440px;
$pc: 1920px;

@mixin ipad() {
  @media screen and (min-width: $ipad) {
    @content;
  }
}

@mixin ipadPro() {
  @media screen and (min-width: $ipadPro) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (min-width: $laptop) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $pc) {
    @content;
  }
}

@mixin pseudo($display: block, $position: absolute) {
  content: "";
  display: $display;
  position: $position;
}

@mixin transition($time: 0.5s, $interpolation: ease) {
  transition: $time $interpolation;
}
