.profileContainer{

    h1{
        margin-top: 50px;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    .profileGrid{
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 200px 100px 300px;
        column-gap: 50px;
        justify-content: center;
        margin-top: 60px;
    }

    img{
        grid-area: 1 / 1 / 6 / 2;
        grid-gap: 50px;
    }

    .p{
        padding-left: 20px;
        font-weight: 700;
    }

    a{
        color: #E1B3B2;
        transition: color 0.5 ease;
    }

    a:hover{
        color: black;
    }
}