.containerSignup{
    display: flex;
    align-items: center;

    .signupImage{
        margin-left: 17.5%;
        width: 250px;
        filter: invert(66%) sepia(34%) saturate(736%) hue-rotate(312deg) brightness(91%) contrast(91%);
        transition: filter 1s ease;
    }
}

.formSignup{
    margin-left: 10%;
    width: 25%;
    font-weight: 500;

    h1{
        margin-top: 40px;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    ul{
        display: flex;
    }

    label {
        text-align: left;
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input{
        width: 100%;
        border-radius: 10px;
        background-color: rgb(245, 246, 247);
        border: 1px #E1B3B2 solid;
        text-align: center;
    }

    #firstnameInput, #lastnameInput{
        width: 80%;
    }

    .lastnameS {
        text-align: right;

        label {
            padding-left: 33px;
        }
    }

    #buttonS {
        transform: translateX(90%);
        margin-top: 30px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #e08785;
        border: none;
        cursor: pointer;
        font-weight: 700;
        transition: background-color 1s ease;
    }

    #buttonS:hover{
        background-color: #d65856;
    }

    p {
        margin-top: 20px;
        text-align: center;
    }

    #already {
        color: #e08785;
        transition: color 0.5s ease;
    }

    #already:hover {
        color: #d65856;
    }

}