<%- include('partials/header'); -%>

<% if (user) { %>
<h1>Dashboard</h1>
<a href="/createJob">Create new job</a>

<label for="statusFilter">Filter by </label>
        <select name="statusFilter" id="statusFilter">
            <option value="">Select a status</option>
            <option value="Interested" id="interested">Interested</option>
            <option value="CV sent" id="cv">CV sent</option>
            <option value="Negative" id="negative">Negative</option>
            <option value="Interview" id="interview">Interview</option>
        </select> 
<label for="order">Order by </label>
        <select name="order" id="order">
            <option value="">Select an order</option>
            <option value="asc">Ascendant</option>
            <option value="desc">Descendant</option>

        </select> 

<ul id="jobsList"></ul>

<% } %>

<script>
        const interested = document.getElementById('interested').value;
        const cv = document.getElementById('cv').value;
        const negative = document.getElementById('negative').value;
        const interview = document.getElementById('interview').value;
        fetch('/home', {
            method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
            const jobsList = document.getElementById('jobsList');
            data.jobs.forEach(job => {
                const listItem = document.createElement('li');
                listItem.classList.add("jobDetail");
                listItem.innerHTML = `<h2 ">${job.jobTitle}</h2><p>${job.webSite}</p><a href="/job/${job._id}">See more</a>`;
                jobsList.appendChild(listItem);
                
            });

            
        })
        .catch(error => console.error('Error:', error));

        

        
    </script>

