<%- include('partials/headerLS'); -%>

<div class="containerSignup">
    <img src="images/right-to-bracket-solid.svg" alt="pink stuff" class="signupImage">
<div class="formSignup">
    <h1>Sign up</h1>
    <form action="/signup" method="POST" enctype="multipart/form-data">
    <ul>
        <li>
            <div class="firstnameS">
                <label for="firstname">First name</label>
                <input id="firstnameInput" type="text" name="firstname" required>
                <div class="firstname error"></div>
            </div>
        </li>
    
        <li>
            <div class="lastnameS">
                <label for="lastname">Last name</label>
                <input id="lastnameInput" type="text" name="lastname" required>
                <div class="lastname error"></div>
            </div>
        </li>
    </ul>

    <div class="emailS">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
        <div class="email error"></div>
    </div>

    <div class="gitHubS">
        <label for="gitHub">GitHub</label>
        <input type="text" name="gitHub" id="gitHub">
        <div class="gitHub error"></div>
    </div>

    <div class="passwordS">
        <label for="password">Password</label>
        <input type="password" name="password" required id="password">
        <div class="password error"></div>
    </div>

    <div class="repeatPasswordS">
        <label for="repeatPassword">Confirm password</label>
        <input type="password" name="repeatPassword" required id="repeatPassword">
        <div class="repeatPassword error"></div>
    </div>

    <input type="file" name="profileImage" accept="image/*" required>
    <input type="file" name="cv" accept="application/pdf" required>

        <button id="buttonS">Register</button>
        <p>Already registered ? <a id="already" href="/login">Login</a></p>
    </form>
</div>
</div>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')
    
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset values
        emailError.textContent = '';
        passwordError.textContent = '';

        const formData = new FormData(form);


        try{
            const res = await fetch('/signup', {
                method: 'POST',
                body: formData,
            })
            const data = await res.json()
            console.log(data)
            if (data.errors) {
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }
            if (data.user) {
                location.assign('/')
            }
        }
        catch (err) {
            console.log(err)
        }

    })
</script>

</body>
</html>